In [2]:
import pandas as pd
import numpy as np

In [4]:
orders_df = pd.read_excel('CompanyX-OrderReport.xlsx')  # Website order report
sku_df = pd.read_excel('CompanyX-SKUMaster.xlsx')  # SKU Master for weights
pincode_df = pd.read_excel('CompanyX-PincodeZones.xlsx')  # Pincode mapping
courier_df = pd.read_excel('CourierCompany-Invoice.xlsx')  # Courier invoice data
rate_card_df = pd.read_excel('CourierCompany-Rates.xlsx')  # Courier rate card

In [6]:
print(orders_df.isnull().sum())
print(sku_df.isnull().sum())
print(pincode_df.isnull().sum())
print(courier_df.isnull().sum())
print(rate_card_df.isnull().sum())

ExternOrderNo    0
SKU              0
Order Qty        0
dtype: int64
SKU           0
Weight (g)    0
dtype: int64
Warehouse Pincode    0
Customer Pincode     0
Zone                 0
dtype: int64
AWB Code                0
Order ID                0
Charged Weight          0
Warehouse Pincode       0
Customer Pincode        0
Zone                    0
Type of Shipment        0
Billing Amount (Rs.)    0
dtype: int64
fwd_a_fixed         0
fwd_a_additional    0
fwd_b_fixed         0
fwd_b_additional    0
fwd_c_fixed         0
fwd_c_additional    0
fwd_d_fixed         0
fwd_d_additional    0
fwd_e_fixed         0
fwd_e_additional    0
rto_a_fixed         0
rto_a_additional    0
rto_b_fixed         0
rto_b_additional    0
rto_c_fixed         0
rto_c_additional    0
rto_d_fixed         0
rto_d_additional    0
rto_e_fixed         0
rto_e_additional    0
dtype: int64

In [8]:
order_weights=orders_df.merge(sku_df,on='SKU')

In [10]:
order_weights

     ExternOrderNo            SKU  Order Qty  Weight (g)
0       2001827036  8904223818706        1.0         127
1       2001827036  8904223819093        1.0         150
2       2001827036  8904223819109        1.0         100
3       2001827036  8904223818430        1.0         165
4       2001827036  8904223819277        1.0         350
..             ...            ...        ...         ...
396     2001806229  8904223818942        1.0         133
397     2001806229  8904223818850        1.0         240
398     2001806226  8904223818850        2.0         240
399     2001806210  8904223816214        1.0         120
400     2001806210  8904223818874        1.0         100

[401 rows x 4 columns]

In [12]:
 order_weights['Total_Weight'] = order_weights['Order Qty'] * order_weights['Weight (g)']

In [14]:
order_weights['Total_Weight']

0      127.0
1      150.0
2      100.0
3      165.0
4      350.0
       ...
396    133.0
397    240.0
398    480.0
399    120.0
400    100.0
Name: Total_Weight, Length: 401, dtype: float64

In [16]:
def calculate_weight_slab(weight):
    return (np.ceil(weight/ 500)) * 0.5

In [18]:
order_weights['Weight_Slab'] = order_weights['Total_Weight'].apply(calculate_weight_slab)

In [20]:
order_weights

,ExternOrderNo,SKU,Order Qty,Weight (g),Total_Weight,Weight_Slab
0,2001827036,8904223818706,1.0,127,127.0,0.5
1,2001827036,8904223819093,1.0,150,150.0,0.5
2,2001827036,8904223819109,1.0,100,100.0,0.5
3,2001827036,8904223818430,1.0,165,165.0,0.5
4,2001827036,8904223819277,1.0,350,350.0,0.5
...,...,...,...,...,...,...
396,2001806229,8904223818942,1.0,133,133.0,0.5
397,2001806229,8904223818850,1.0,240,240.0,0.5
398,2001806226,8904223818850,2.0,240,480.0,0.5
399,2001806210,8904223816214,1.0,120,120.0,0.5
400,2001806210,8904223818874,1.0,100,100.0,0.5

In [22]:
x=order_weights
x

,ExternOrderNo,SKU,Order Qty,Weight (g),Total_Weight,Weight_Slab
0,2001827036,8904223818706,1.0,127,127.0,0.5
1,2001827036,8904223819093,1.0,150,150.0,0.5
2,2001827036,8904223819109,1.0,100,100.0,0.5
3,2001827036,8904223818430,1.0,165,165.0,0.5
4,2001827036,8904223819277,1.0,350,350.0,0.5
...,...,...,...,...,...,...
396,2001806229,8904223818942,1.0,133,133.0,0.5
397,2001806229,8904223818850,1.0,240,240.0,0.5
398,2001806226,8904223818850,2.0,240,480.0,0.5
399,2001806210,8904223816214,1.0,120,120.0,0.5
400,2001806210,8904223818874,1.0,100,100.0,0.5

In [24]:
x.rename(columns={'ExternOrderNo': 'Order ID'}, inplace=True)
x

,Order ID,SKU,Order Qty,Weight (g),Total_Weight,Weight_Slab
0,2001827036,8904223818706,1.0,127,127.0,0.5
1,2001827036,8904223819093,1.0,150,150.0,0.5
2,2001827036,8904223819109,1.0,100,100.0,0.5
3,2001827036,8904223818430,1.0,165,165.0,0.5
4,2001827036,8904223819277,1.0,350,350.0,0.5
...,...,...,...,...,...,...
396,2001806229,8904223818942,1.0,133,133.0,0.5
397,2001806229,8904223818850,1.0,240,240.0,0.5
398,2001806226,8904223818850,2.0,240,480.0,0.5
399,2001806210,8904223816214,1.0,120,120.0,0.5
400,2001806210,8904223818874,1.0,100,100.0,0.5

In [26]:
x=x.merge(courier_df,on='Order ID')

In [28]:
x

,Order ID,SKU,Order Qty,Weight (g),Total_Weight,Weight_Slab,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001827036,8904223818706,1.0,127,127.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
1,2001827036,8904223819093,1.0,150,150.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
2,2001827036,8904223819109,1.0,100,100.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
3,2001827036,8904223818430,1.0,165,165.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
4,2001827036,8904223819277,1.0,350,350.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806229,8904223818942,1.0,133,133.0,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2
397,2001806229,8904223818850,1.0,240,240.0,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2
398,2001806226,8904223818850,2.0,240,480.0,0.5,1091117222065,0.68,121003,723146,d,Forward charges,90.2
399,2001806210,8904223816214,1.0,120,120.0,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5
400,2001806210,8904223818874,1.0,100,100.0,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5

In [30]:
x = x.loc[:, ~x.columns.str.endswith('_y')]
x = x.rename(columns=lambda col: col.replace('_x', ''))

x

,Order ID,SKU,Order Qty,Weight (g),Total_Weight,Weight_Slab,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,2001827036,8904223818706,1.0,127,127.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
1,2001827036,8904223819093,1.0,150,150.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
2,2001827036,8904223819109,1.0,100,100.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
3,2001827036,8904223818430,1.0,165,165.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
4,2001827036,8904223819277,1.0,350,350.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806229,8904223818942,1.0,133,133.0,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2
397,2001806229,8904223818850,1.0,240,240.0,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2
398,2001806226,8904223818850,2.0,240,480.0,0.5,1091117222065,0.68,121003,723146,d,Forward charges,90.2
399,2001806210,8904223816214,1.0,120,120.0,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5
400,2001806210,8904223818874,1.0,100,100.0,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5

In [32]:
x.rename(columns={'Type of Shipment': 'shipment_type'}, inplace=True)
x

,Order ID,SKU,Order Qty,Weight (g),Total_Weight,Weight_Slab,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,shipment_type,Billing Amount (Rs.)
0,2001827036,8904223818706,1.0,127,127.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
1,2001827036,8904223819093,1.0,150,150.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
2,2001827036,8904223819109,1.0,100,100.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
3,2001827036,8904223818430,1.0,165,165.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
4,2001827036,8904223819277,1.0,350,350.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806229,8904223818942,1.0,133,133.0,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2
397,2001806229,8904223818850,1.0,240,240.0,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2
398,2001806226,8904223818850,2.0,240,480.0,0.5,1091117222065,0.68,121003,723146,d,Forward charges,90.2
399,2001806210,8904223816214,1.0,120,120.0,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5
400,2001806210,8904223818874,1.0,100,100.0,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5

In [34]:
rate_card_df

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [50]:
x

,Order ID,SKU,Order Qty,Weight (g),Total_Weight,Weight_Slab,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,shipment_type,Billing Amount (Rs.)
0,2001827036,8904223818706,1.0,127,127.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
1,2001827036,8904223819093,1.0,150,150.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
2,2001827036,8904223819109,1.0,100,100.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
3,2001827036,8904223818430,1.0,165,165.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
4,2001827036,8904223819277,1.0,350,350.0,0.5,1091122418320,1.60,121003,173213,b,Forward charges,117.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,2001806229,8904223818942,1.0,133,133.0,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2
397,2001806229,8904223818850,1.0,240,240.0,0.5,1091117222080,0.71,121003,421204,d,Forward charges,90.2
398,2001806226,8904223818850,2.0,240,480.0,0.5,1091117222065,0.68,121003,723146,d,Forward charges,90.2
399,2001806210,8904223816214,1.0,120,120.0,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5
400,2001806210,8904223818874,1.0,100,100.0,0.5,1091117221940,2.92,121003,140604,b,Forward charges,174.5

KeyError: 'Weight_slab'

In [80]:
x.head(20)

,Order ID,SKU,Order Qty,Weight (g),Total_Weight,Weight_Slab,AWB Code,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,shipment_type,Billing Amount (Rs.),Expected Charge
0,2001827036,8904223818706,1.0,127,127.0,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9,NaN
1,2001827036,8904223819093,1.0,150,150.0,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9,NaN
2,2001827036,8904223819109,1.0,100,100.0,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9,NaN
3,2001827036,8904223818430,1.0,165,165.0,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9,NaN
4,2001827036,8904223819277,1.0,350,350.0,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9,NaN
5,2001827036,GIFTBOX202002,1.0,500,500.0,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9,NaN
6,2001827036,GIFTBOX202002,1.0,500,500.0,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9,NaN
7,2001827036,8904223818638,2.0,137,274.0,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9,NaN
8,2001827036,SACHETS001,1.0,10,10.0,0.5,1091122418320,1.6,121003,173213,b,Forward charges,117.9,NaN
9,2001825261,8904223819024,4.0,112,448.0,0.5,1091121981575,1.6,121003,517128,d,Forward and RTO charges,345.0,NaN
10,2001825261,8904223819291,4.0,112,448.0,0.5,1091121981575,1.6,121003,517128,d,Forward and RTO charges,345.0,NaN
11,2001825261,8904223818638,3.0,137,411.0,0.5,1091121981575,1.6,121003,517128,d,Forward and RTO charges,345.0,NaN
12,2001825261,8904223818669,1.0,240,240.0,0.5,1091121981575,1.6,121003,517128,d,Forward and RTO charges,345.0,NaN
13,2001825261,SACHETS001,1.0,10,10.0,0.5,1091121981575,1.6,121003,517128,d,Forward and RTO charges,345.0,NaN
14,2001823564,8904223819291,2.0,112,224.0,0.5,1091121666133,0.7,121003,492001,d,Forward and RTO charges,172.8,NaN
15,2001823564,8904223819031,2.0,112,224.0,0.5,1091121666133,0.7,121003,492001,d,Forward and RTO charges,172.8,NaN
16,2001823564,8904223819024,2.0,112,224.0,0.5,1091121666133,0.7,121003,492001,d,Forward and RTO charges,172.8,NaN
17,2001822466,8904223819468,2.0,240,480.0,0.5,1091121305541,1.1,121003,342301,d,Forward charges,135.0,NaN
18,2001822466,8904223819291,8.0,112,896.0,1.0,1091121305541,1.1,121003,342301,d,Forward charges,135.0,NaN
19,2001821995,8904223819130,1.0,350,350.0,0.5,1091121183730,0.5,121003,342008,d,Forward charges,45.4,NaN

In [238]:
print(x[['order id', 'zone', 'weight_slab']].head())

     order id zone  weight_slab
0  2001827036    b         63.5
1  2001827036    b         63.5
2  2001827036    b         63.5
3  2001827036    b         63.5
4  2001827036    b         63.5

In [42]:
rate_card_df

,fwd_a_fixed,fwd_a_additional,fwd_b_fixed,fwd_b_additional,fwd_c_fixed,fwd_c_additional,fwd_d_fixed,fwd_d_additional,fwd_e_fixed,fwd_e_additional,rto_a_fixed,rto_a_additional,rto_b_fixed,rto_b_additional,rto_c_fixed,rto_c_additional,rto_d_fixed,rto_d_additional,rto_e_fixed,rto_e_additional
0,29.5,23.6,33,28.3,40.1,38.9,45.4,44.8,56.6,55.5,13.6,23.6,20.5,28.3,31.9,38.9,41.3,44.8,50.7,55.5

In [148]:


def calculate_expected_charges(row):
    shipment_type_mapping = {
    "Forward Charges": "fwd",
    "Forward and RTO Charges": "fwd_and_rto"
    }

    # Map the shipment type
    mapped_type = shipment_type_mapping.get(row['shipment_type'], None)
    print(mapped_type)
    if not mapped_type:
        return np.nan  # If no valid mapping, return NaN

    # Handle the case for "Forward and RTO Charges"
    if mapped_type == "fwd_and_rto":
        # Calculate forward charges
        forward_fixed = rate_card_df[f"fwd_{row['Zone'].lower()}_fixed"].values[0]
        forward_additional = rate_card_df[f"fwd_{row['Zone'].lower()}_additional"].values[0]
        forward_excess_weight = max(0, row['Weight Slab'] - 0.5)
        forward_charge = forward_fixed + (forward_excess_weight / 0.5) * forward_additional

        # Calculate RTO charges
        rto_fixed = rate_card_df[f"rto_{row['Zone'].lower()}_fixed"].values[0]
        rto_additional = rate_card_df[f"rto_{row['Zone'].lower()}_additional"].values[0]
        rto_excess_weight = max(0, row['Weight Slab'] - 0.5)
        rto_charge = rto_fixed + (rto_excess_weight / 0.5) * rto_additional

        # Total charge is the sum of forward and RTO charges
        return forward_charge + rto_charge
    else:
        # Calculate for forward-only ("fwd")
        fixed_column = f"{mapped_type}_{row['Zone'].lower()}_fixed"
        additional_column = f"{mapped_type}_{row['Zone'].lower()}_additional"

        # Check if the columns exist
        if fixed_column not in rate_card_df.columns or additional_column not in rate_card_df.columns:
            return np.nan

        # Extract charges
        fixed_charge = rate_card_df.loc[rate_card_df['zone'] == zone, fixed_column].values[0]
        additional_charge = rate_card_df.loc[rate_card_df['zone'] == zone, additional_column].values[0]


        # Calculate excess weight
        excess_weight = max(0, row['Weight Slab'] - 0.5)

        # Total charge calculation
        return fixed_charge + (excess_weight / 0.5) * additional_charge

In [152]:
# Apply the function to calculate expected charges

x['Expected Charge'] = x.apply(calculate_expected_charges, axis=1)
print(f"Shipment Type: {x['shipment_type']}, Zone: {x['Zone']}")
print(mapped_type)

# Calculate the difference between expected and billed charges
x['Difference'] = x['Expected Charge'] - x['Courier Charge']

None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
Shipment Type: 0      Forward charges
1      Forward charges
2      Forward charges
3      Forward charges
4      Forward charges
            ...
396    Forward charges
397    Forward charges
398    Forward charges
399    Forward charges
400    Forward charges
Name: shipment_type, Length: 401, dtype: object, Zone: 0      b
1      b
2      b
3      b
4      b
      ..
396    d
397    d
398    d
399    b
400    b
Name: Zone, Length: 401, dtype: object

NameError: name 'mapped_type' is not defined

In [134]:
x['Expected Charge']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
396   NaN
397   NaN
398   NaN
399   NaN
400   NaN
Name: Expected Charge, Length: 401, dtype: float64